<footer>
  <div id="rFooter">
    <span class="left">Copyright @ NCI</span>
    <ul id="icons">
      <li><%= image_tag("fb.png", :alt => "") %></li>
      <li><%= image_tag("twit.png", :alt => "") %></li>
      <li><%= image_tag("linkd.png", :alt => "") %></li>
    </ul>
    <span class="right">Designed by <h3>Shivshankar Bidwe</h3></span>
  </div>
</footer>